# Configurações locais e IDEs
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp

# Arquivos de testes temporários
tests/__pycache__/
".vscode/"

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
env/
ENV/
.venv

# Configurações do Flask
instance/
.env
.flaskenv

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos do sistema
.DS_Store
Thumbs.db